@charset "UTF-8";
.flexbox1, .flexbox2, .flexbox3, .flexbox4, .flexbox5{
	display:flex; /*가로정렬*/
	width: 200px; 
	border:solid 1px red;
}
/*플렉스 기본적으로 자식들의 크기가 커지도라도 부모의 사이즈에 맞춰 자식의 사이즈가 줄어듬*/
.flexbox1{ 
		flex-wrap:wrap; /*자식들의 사이즈가 커지만 자동줄바꿈*/
		align-items: flex-start; /*위에서부터 정렬 , 윗변에 밀착*/
} 
.flexbox2{ 
		
		align-items: center; /*중앙정렬*/
} 
.flexbox3{ 
		
		align-items: flex-end; /*바닥에서부터 정렬 ,아랫변에 밀착*/
} 
.flexbox4{ 
		
		align-items: stretch; /*기본값, 높이 지정이 없는 경우 가장 큰 높이에 맞춰 사이즈 결정.*/
} 
.flexbox5{ 
		flex-wrap:wrap; /*자식들의 사이즈가 커지만 자동줄바꿈*/
		align-items: baseline; /*baseline은  내용물(text)위치중 가장 남은 컨텐츠를 기준으로 정렬*/
} 

/**/
.box1 , .box2 , .box3 , .box4 , .box5 , .box6{
	background-color: blue;
	color:white;
	border:solid 1px white;
}
.box1{ width:50px; height:50px;}
.box2{ 
	width:100px; height:100px; 
	display:inline-block; 
	align-items: center;
}
.box4{ width:50px; height:80px;}
.box5{ width:100px; height:150px; display:inline-flex; align-items: center;}
