@charset "UTF-8";
*{
	box-sizing: border-box;
}
/*채팅전체구역 */
.chatBox{ 
	width:50%;
	margin:  0 auto;
	box-shadow:0px 0px 3px red;
}

/*채팅내용목록 */
.chatcont{ 
	width:100%;
	height:650px;
	background-color: #bacee0;
	padding:10px;
	overflow: scroll;


	
}

/*채팅입력창, 전송버튼 */
.chatbottom{ 
	height:50px;
	display: flex;
	
	
}
.chatbottom button {
	width: 20%;
	height: 48px;
}
.chatbottom textarea {
	
	width: 80%;
	resize: none;
	padding:10px;
	border:none;
}
.rcont{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin:10px 0 ;

}


.subcont{display: flex; 	align-items: flex-end;}
.rcont .content {background-color: #ffeb33;}
.rcont .subcont{	justify-content: flex-end;

	
} 
.content{
	padding:8px;
	border-radius: 3px;
	max-width:80%;
}
.date{	
	font-size: .8rem;
	margin:0 5px;
}
.lcont{
	width: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	
}
.lcont .content {background-color: #fff;}
.lcont img {
	width:35px;
	border-radius: 50%;
	margin-right: 5px;
	
}
/*----------------*/
.alram{
	padding:3px;
	text-align: center;
	background-color: #b1c3d5;
	border-radius: 10px;
	width:70%;
	margin: 20px auto;
}
/*---------------------------*/


