@charset "UTF-8";
*{padding:0; margin:0;}

/* 전체영역 */
section{
	height:100vh; /*veiwport height표시되는 영역 전체 배경 이미지 적용*/
	background-size:cover; /*화면의 비율을 유지한 채 이미지로 화면을 가득 채우기*/
	background-repeat: :no-repeat;
	background-position:center center; /* 이미지 가로세로 중앙으로 기준으로 배경이미지 위치 설정*/
}

.hero{
	background-image:url('../images/bread1.jpg');
	text-align: center;
	padding-top:10vh;
}