@charset "UTF-8";
/* @import url('mobile.css') (max-width:700px); */
*{padding:0; margin:0;}

/* 전체영역 */
section{
	height:100vh; /*veiwport height표시되는 영역 전체 배경 이미지 적용*/
	background-size:cover; /*화면의 비율을 유지한 채 이미지로 화면을 가득 채우기*/
	background-repeat: :no-repeat;
	background-position:center center; /* 이미지 가로세로 중앙으로 기준으로 배경이미지 위치 설정*/
}

.hero{
	background-image:url('../images/bread1.jpg');
	text-align: center;
	padding-top:10vh;
}
.title{
	font-family: 'Dancing Script', cursive;
	font-size:7rem;
	margin-bottom: 2rem;
}
/*
Mobile size
*/
/*  가로폭이  0~700사이인경우 보여지도록 설정
    max-width:700px;  최대 너비가 700일때 ( 가로 폭이 700미만인 경우)
    min-width:700px;  최소 너비가 700일때 ( 가로 폭이 700이상인 경우 )
*/

@media (max-width:700px){

	.title{
	font-size:4rem;}
}