@charset "UTF-8";
*{
	padding:0px;
    margin:0px;
    font-family:'Nanum Gothic','Arial';
    font-size: 13px;
    color: #424242;
    line-height:160%;
}
*:focus{outline: none;}
li{list-style: none;}
a{color:#424242; text-decoration: none;}

#wrap{ width:100%;}
/* ---헤더---*/
#wrap_header{
	border-bottom: solid 1px #eaeaea;
}
#wrap_header .header_tmenu{
	background-image: url('img/hd_top_bg.gif');
	height: 24.8px;
	width: 100%;
}
.header_tmenu .h_tmenu_box{
    width:1280px;
    margin:0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.h_tmenu_box li{
    color:#264f42;
    font-size: 11px;
}
.hmenu_slogin{
	background-color:#039EB0;
	font-size: 11px;
	color:white;
	font-weight:bold;
	margin-top:3px;
	padding:3px 13px;
	border-radius: 4px;
}
.hmenu_smenu{
    font-size: 11px;
    color:#264f42;
}
.h_bar{
	display:inline-block;
	width:2px;
	height:8px;
	margin:0px 10px ;
}
#wrap_header .header_bmenu{
	display: flex;
	justify-content: space-between;
	/*align-items:center;*/
	width: 1280px;
	margin:0 auto;
	margin-top: 20px;
}
.hmenu_imgbox{ width:291px; }
.header_bmenu img{	height:40px;}
.header_bmenu ul{
	width:900px;
	display: flex;
	justify-content: space-around;
	align-items:center;

	height:70.8px;

}
.header_bmenu .hmenu01{


}
.header_bmenu a{
    font-size: 17px;
    font-weight: 600;
    text-align:center;
}
.h_search input{ border:none;}
.h_search_box{
	display:flex;
	justify-content:space-between;
	width:200px;
	height:28px;
	border:solid 1px #7eae9d;
	align-items:center;
	margin-top: 20px;
}
.h_search_btn{
	width:39px;
	height:28px;
	background-image: url('img/hd_search_btn.png');
}
/* main img*/
.main_img_box {
	width:1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.mimg_link{	position: relative;}
.mimg_title{
	position: absolute;
	left:15px;
	top:15px;
	font-size:22px;
	font-weight: bold;
	color:white;
}
.mimg01{color:#17454c}
.contents_box{
	display: flex;
	justify-content: space-between;
	width:1280px;
	margin: 0 auto;
}
.oinfo_li01{
	display: flex;
	justify-content: space-between;
}
.oinfo_box{
	display: inline-block;
}
.img_meta{
	width:320px;
}
#wrap_footer{
	border-top:solid 1px #eeeeee;
	margin-top: 30px;
}