@charset "UTF-8";
*{
	padding:0px;
    margin:0px;
    font-family:'Nanum Gothic','Arial';
    font-size: 13px;
    color: #424242;
    line-height:160%;
}
*:focus{outline-style: solid ;}
li{list-style: none;}
a{color:#424242; text-decoration: none;}

#wrap{ width:100%;}
/* ---헤더---*/
#wrap_header{
	border-bottom: solid 1px #eaeaea;
}
#wrap_header .header_tmenu{
	background-image: url('img/hd_top_bg.gif');
	height: 24.8px;
	width: 100%;
}
.header_tmenu .h_tmenu_box{
    width:1280px;
    margin:0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.h_tmenu_box li{
    color:#264f42;
    font-size: 11px;
}
.hmenu_slogin{
	background-color:#039EB0;
	font-size: 11px;
	color:white;
	font-weight:bold;
	margin-top:3px;
	padding:3px 13px;
	border-radius: 4px;
}
.hmenu_smenu{
    font-size: 11px;
    color:#264f42;
}
.h_bar{
	display:inline-block;
	width:2px;
	height:8px;
	margin:0px 10px ;
}
#wrap_header .header_bmenu{
	display: flex;
	justify-content: space-between;
	/*align-items:center;*/
	width: 1280px;
	margin:0 auto;
	margin-top: 20px;
}
.hmenu_imgbox{ width:291px; }
.header_bmenu img{	height:40px;}
.header_bmenu ul{
	width:900px;
	display: flex;
	justify-content: space-around;
	align-items:center;
	height:70.8px;
}
.header_bmenu .hmenu01{


}
.header_bmenu a{
    font-size: 17px;
    font-weight: 600;
    text-align:center;
}
.h_search input{ border:none;}
.h_search_box{
	display:flex;
	justify-content:space-between;
	width:200px;
	height:28px;
	border:solid 1px #7eae9d;
	align-items:center;
	margin-top: 20px;
}
.h_search_btn{
	width:39px;
	height:28px;
	background-image: url('img/hd_search_btn.png');
}
/* main img*/
.main_img_box {
	width:1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.mimg_link{	position: relative;}
.mimg_title{
	position: absolute;
	left:15px;
	top:15px;
	font-size:22px;
	font-weight: bold;
	color:white;
}
.mimg01{color:#17454c}
/*-----ㅡmain contents -----*/
/*aside info*/
#wrap_contents {margin-top: 20px;}
.c_aside{width: 243px;}
.cs_date{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.today_info{
	display:inline-block;
	color:#06A78C;
	font-size:25px;
	line-height: 23px;
	width:110px;
}
.today_date{
	display:inline-block;
	position: relative;
	font-weight: bold;
}
.today_m{

	background-image: url('img/msec02_today_mon_bg.png');
	background-repeat:no-repeat;
	border:solid 1px white;
	width:45px;
	height:45px;
}
.today_d{
	background-image: url('img/msec02_today_date_bg.png');
	margin-left:5px;
	width:45px;
	height:45px;
}
.tm {
	position:absolute;
	top:4px;
	left:10px;
	font-size:25px;
	font-weight: bold;
	color:#4e5052;

}
.td {
    position:absolute;
    top:4px;
    left:75px;
    font-size:25px;
    font-weight: bold;
    color:#000;

}
/*aside  open close info */
.open_info{
	border: solid 1px #dfdfdf;
    padding:15px;
    text-align: center;
    margin-bottom: 15px;

}
.oinfo_li01{
	display:flex;
	justify-content:space-between;
	font-size: 8px;

}
.oinfo_li02{
	text-align: center;
	font-size: 30px;
}
.oinfo_li03{ font-size: 12px;}
.oinfo_box_open{ width:49%;  color:#06A78C;}
.oinfo_box{	display: inline-block; width:49%; }

/* aside 바로가기 */
.direc_info{
	display: flex;
	justify-content: space-between;
	align-items:center;

	flex-wrap: wrap;
    font-weight: bold;

}
.dinfo_bg01{
	background-image: url('img/msec02_btn_bg01.gif');
	background-repeat: no-repeat;
    margin-bottom:5px;
    padding:15px 0;
    width:49%;

    text-align:center;
	color: #fff;
}
.dinfo_bg02{
    background-image: url('img/msec02_btn_bg02.gif');
    background-repeat: no-repeat;
    margin-bottom:5px;
    padding:15px 0;
    width:49%;
    text-align:center;
    color: #fff;
}
.dinfo_bg03{
    background-image: url('img/msec02_btn_bg03.gif');
    background-repeat: no-repeat;
    margin-bottom:5px;
    padding:15px 0;
    width:49%;
    text-align:center;
    color: #fff;
}
.dinfo_bg04{
    background-image: url('img/msec02_btn_bg04.gif');
    background-repeat: no-repeat;
    margin-bottom:5px;
    padding:15px 0;
    width:49%;;
    text-align:center;
    color: #fff;
}

/* main - 새소식*/
.c_news{width: 320px;border:solid 1px #ddd ;}
.cnews_head {
	position:relative;
    padding: 18px;
	font-weight: bold;
	font-size:20px;
}
.cnews_head .img_more, .img_pause{
	position: absolute;
	right:15px;
	top:20px;

}
.cnews_head .img_play{
    position: absolute;
    right:35px;
    top:20px;

}
.cnews_sub{
	padding:5px 15px;
	list-style: disc;
	list-style-position: inside; /*리스트 앞에 도트 안쪽으로*/
	color:#e7e7e7;
}
.cnews_sub a:hover {
	text-decoration: underline;
}

.img_pause{
	right:40
}

.cpopup_sub{padding:0 15px; text-align: center;}
.cpopup_sub img{ width:270px;}
.contents_box{
	display: flex;
	justify-content: space-between;
	width:1280px;
	margin: 0 auto;
}

.c_direct{text-align:center;}
.direct_meta{ font-size:15px; font-weight: bold; padding:10px 0;}
.c_direct ul {border: solid 1px #ddd; }

.img_meta{ width:320px;	margin-bottom: 10px;
}
.direct_sns_box{ display: flex;	justify-content: center; align-items: center;
}
.direct_sns_box div{width:49%;padding:10px 0;}
.direct_sns_box img{padding:5px 0;}
.direct_sns_box span{display: inline-block; width:1px; height:60px; background-color: #ddd; }
.direct_title{
	text-align: center;
	font-size:14px;
	width:49%;
	padding:10px 0;
	border-top:solid 1px #ddd;
    border-bottom:solid 1px #ddd;
}
.direct_youtube{width:100px;}
.direct_insta{width:70px;}

/*-----푸터----*/
#wrap_footer{
	border-top:solid 1px #eeeeee;
	margin-top:30px;
}
.footer_box{
	width:1280px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	padding:30px 0px;
	align-items: center;
}
.footer_box ul li{
	font-size:12px;
    color:#7f7f7f;
}
.private_info{
	display: inline-block;
	align-items:center;
	border-radius: 10px;
	background-color: #7f7f7f;
	color:#fff;
	padding:5px 13px;
	font-size: 10px;
}
.fmark_box{ width:50%; align-items: center; }
.footer_markimg01{width:65px;}
.footer_markimg02{width:80px;}
.family_site{
	border-radius: 3px;
	height: 30px;
	width: 250px;
    padding: 5px;
    vertical-align: middle;
    margin-left:15px;
    margin-bottom: 40px;
}
.btn_go{
    height: 30px;
    width: 50px;
    vertical-align: middle;
    font-size:14px;
    background-color: #014e09;
    color: #fff;
    margin-left:15px;
    margin-bottom: 40px;
}