@charset "UTF-8";
*{padding: 0; margin: 0; font-family: '맑은고딕'}
a{color:#000; text-decoration: none;}
a:focus{outline: none;}
li{list-style: none;}
/*헤더 상단 배너*/
.top_ad{
	width:100%;
	background-color: #F2F2F2;
}
.t_ad_img{
	width:980px;
	height:80px;
    margin: 0 auto;
    position: relative;
}
.t_btn_close{
	position: absolute;
    top:10px;
    right:20px;
}
/*헤더 상단*/
.header{ border-bottom: solid 1px #eeeeee;}
.hmenu{
	width:990px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	padding:25px 0px;
}
.hmenu_logo{width:110px;}
.logo_red{width:110px;}
.logo_info{
	width:440px;
	font-size: 17px;
	display: flex;
	align-items:baseline;
	vertical-align: bottom;
	margin-top: 26px;
	letter-spacing: 5px; /*자간*/
	color: gray;
}
.h_banner{width:150px;}
.hmenu_box{
	display: flex;
	justify-content: space-between;
	width:280px;
	font-size: 12px;
	text-align: center;
}
.hmenu_box img {width:35px;}
.hmenu_box span{display: block;}

/*헤더 하단 메뉴*/
.header_bottom {border-bottom:solid 2px #fb4357 }
.menu_box{
	display: flex;
    width:990px;
    margin:0 auto;
    align-items:center;
    justify-content: space-between;
    padding:10px 0;
    position: sticky;
    top:0px;

}
.menu {
	display: flex;
    width:500px;
    justify-content: space-between;
}
.search_box{
	display: inline-block;
	position:relative;
    align-content:center;
	border-left:solid 1px gray;
	border-right:solid 1px gray;
    width:200px;
    height:30px;
    padding: 0 20px;
}
.search_txt{
    width:160px;
    height:20px;
    font-size: 16px;
    border: none;
    position: absolute;
    top:5px;

}
.search_btn{
	background-image: url('img/search.png');
	background-repeat:no-repeat;
	background-size:100%;
	background-color:#fff;
	width: 30px;
	height: 30px;
	border:none;
	position: absolute;
	top: 0px;
    left:190px;
}

/* main video*/
.main_video{
	position:relative;
	height: 498px;
	background-color: #000;

}
.video_box{
	width:990px;
	margin: 0 auto;
}
video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.main_video video{

	height:498px;

}

/*상영예정작*/
#wrap_content{background-color: #fafafa; margin-bottom: 50px;}
.content_box{
	width:990px;
	margin: 0 auto;
	padding-top:30px;
	background-color: #fafafa;
}
.ctitle_bar{
	display: flex;
	justify-content: space-between;
    margin-bottom: 20px;
}
.ctitle{
	width:120px;
	font-size: 25px;
	font-weight: bold;
}
.ctitle_sub{
	width:750px;
	font-size: 23px;
    color:#eee;
}
.more{
	display:inline-block;
	justify-content:space-between;
	border: solid 1px #eee;
	border-radius: 20px;
	width: 80px;
	padding:3px 10px;
	font-size: 14px;

}
.more_btn{
	background-image: url('img/arrowR_8x13.png');
    background-repeat: no-repeat;
    background-size:100%;
    width:8px; height:13px;
    margin-left: 10px;

}
/*상영예정작*/
.pre_movie{
	display: flex;
	justify-content: space-between;

}
.pmive_item{
	width:180px;
}

.pmovie{
	position: relative;
}
.pm_img{width:180px; border-radius: 10px;}
.a_age01{
	display:inline-block;
	width:20px;
	height:20px;
    color:#fff;
    background-color:orange;
    padding: 0px 1px 3px 1px;
    font-weight: bold;
    position: absolute;
    top:8px;
    right:8px;
}
.a_age02{
    display:inline-block;
    width:20px;
    height:20px;
    color:#fff;
    background-color:green;
    padding: 0px 1px 3px 1px;
    font-weight: bold;
    position: absolute;
    top:8px;
    right:8px;
}
.dday{
	display: inline-block;
    position: absolute;
    top:35px;
    right:8px;
    width:20px;
    height:20px;
    font-size: 11px;
    font-weight:bold;
    color:orange;
    background-color: #fff;
     padding: 2px 1px 0px 1px;
}
.pr_rank{
	display:inline-block;
	position:absolute;
	bottom:-5px;
    left:5px;
    font-size: 50px;
    font-weight:bold;
    color: #fff;
    font-style: italic;
}
.pmovie_name{ color:gray; font-size: 17px; font-weight: bold;}
.pmovie_rate{ color:gray; font-size: 13px;}
.pmovie_rate img{width:20px; text-align: center;}


/* 이벤트 */
.event_box{ display: flex;}
.event_item{width:30%}