@charset "UTF-8";
*{
	padding:0px; 
	margin:0px;
	list-style: none;	
}
/*폰트 : 눈누*/
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*헤더CSS (담당:정희락)*/
#header{ 	
	width: 1200px;
    margin: 0 auto;
    display: flex;  
    justify-content: space-between;/*flex를썻을경우 가로 정렬 */
    align-items: center; /* flex를썻을경우 세로 정렬 */
    padding: 20px 0;
}
.h_menu{ 
	margin-top: 20px;
    text-align:left; 
    margin: 15px 0px;
    font-size: 15px;
    display: inline-block;
}
.logo_img{ justify-content: center; }
.h_menu2{ border: none;}
.h_menu2 input{height: 25px;}
/*탑메뉴*/
.box1{	
	font-family:"TheJamsil5Bold";
	background-color:  #00BF63;
    width: 1200px; 
    height: 100px;
    display: flex;
    justify-content: space-evenly; 
    margin: 0 auto;
    align-items: center;
}
.main_menu li{
	color: white;
	font-size: 25px;
    font-weight: bold;
}
/*메인컨텐츠1 CSS (담당:김준희)*/
#wrap_cont{
	width:1200px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	padding:30px 0;	
}
#contents{
	border:solid 1px #eeeeee;
	width:270px;
	padding:10px;
	margin:0 5px;	
}
#contents h3{
	color:#615C5A;
}
#contents li{
	padding:5px 0;
}
#contents img{
	width:270px;
	margin: 0 auto;
}
#contents #info{
	font-size:14px;
	text-align:center;
	color:#615C5A;
}

/*메인컨텐츠2 CSS (담당 :박용철)*/
#service_info{
	margin: 20px 20px 100px 20px;
	widows: 1200px;
	text-align: left;
}

.info_1{
	border-bottom: solid 3px #615C5A;
	padding: 10px;
	width: 1200px;
	margin: 0 auto;
}
.error{
	padding: 10px 0px;
	width: 1200px;
	margin: 0 auto;
}
.error1{
	padding: 10px 0px;
	width: 1200px;
	margin: 0 auto;

}

h2{
	color:#615C5A;
}
.error_1 {
	width : 1200px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #555555;
	margin: 0 auto;
}

.error_1 li{
	font-size: 18px;
	padding: 2px;
	color: #555555;
	width: 1200px;
	margin: 0 auto;	

}

/*푸터 CSS (담당: 고연진)*/
#footerback{
	width: 100%;
	height: 200px;
	background-color: #2D2D2D;
	margin: 0 auto;
	font-size:13px;
}

.ft_1{
	display: flex;
	width: 1100px;
	margin: 0 auto;
	padding: 40px;
	color: white;
	justify-content: space-between;
}

.text_d1{ color: red;}

.text_d3{ color: blue;}

.ft_point{color: green;}
	
.ft_img1{ margin: 10px;}	

.ft_img2{ widows: 100px;	height: 100px;}
