@charset "UTF-8";
*{ padding:0px; margin:0px;}
.content{
	width:400px;
	border: solid 1px #e8e8e8;
	margin-top:20px;
}
.fimg{ width:350px;}


.row2{
	border-top:solid 1px #e8e8e8;
	font-size: 18px;
	font-weight: bold;
	padding-top:20px;
}
.row3{ font-weight: bold;}
.row4{ margin-top:10px; line-height: 150%;}
.no{ color:orange }

li{ 
	padding:5px 20px;
	list-style: none;	
}